<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-title>
      Impresión de Ticket
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div id="container">
    <ion-button  (click)="verificarDispositivo()">Imprimir <ion-icon slot="end" name="print-outline"></ion-icon></ion-button>

    <ion-modal [isOpen]="openModal" (willDismiss)="onWillDismiss($event)">
      <ng-template>
        <ion-header>
          <ion-toolbar>
            <ion-buttons slot="start">
              <ion-button (click)="cancel()">Cancel</ion-button>
            </ion-buttons>
            <ion-title>Selecciona el Dispositivo</ion-title>
          </ion-toolbar>
        </ion-header>
        <ion-content class="ion-padding">
          <ion-list>
            <ion-item *ngFor="let dv of devices">
              <ion-label>{{ dv.device.name }}</ion-label>
              <ion-button slot="end" (click)="setDevice(dv.device.deviceId)"> conectar </ion-button>
            </ion-item>
          </ion-list>
        </ion-content>
      </ng-template>
    </ion-modal>

  </div>
</ion-content>